body{
    background-color: rgba(169, 40, 40, 1);
    font-family: 'Spirax', cursive;
    font-size: 19px;
}
/*Barra navegacion*/
.-nav{
    background-color: rgba(13, 13, 13, 1);
    width: 100%;
    animation-name: navbar;
    animation-duration: 3s;
    
}
.cajaboton:focus{
    outline: none;
}
.boton{
    font-size: 40px;
    margin-top: -5px;
    outline: none;
}
/*Index*/
.-titulo{
    text-align: center;
    font-size: 63px;
    color: black;
    animation-name: titulo;
    animation-duration: 6s;
}
.-descrip-index{
    text-align: center;
    color: whitesmoke;
}
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: auto;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 200%;
    animation: cambio 10s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
.slider li{
    display: flex;
    width: 100%;
    list-style: none;
}
.slider img {
    display: flex;
    width: 25%;
}

/*Login*/
.-form{
    background-color: rgba(0, 0, 0, 0.42);
}
@keyframes cambio {
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    35%{margin-left: -50%}
    65%{margin-left: -50%}

    75%{margin-left: -100%;}
    100%{margin-left: -100%;}
}
@keyframes navbar {
    0%{opacity: 0;}
    100%{opacity: 1;}
   
}
@keyframes titulo {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.-full-screen{
    -webkit-transition:all .9s ease; /* Safari y Chrome */
    -moz-transition:all .9s ease; /* Firefox */
    -o-transition:all .9s ease; /* IE 9 */
    -ms-transition:all .9s ease; /* Opera */
    width: 100%;
}
.-full-screen:hover{
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
}
/*Contacto*/
.-lista-contacto{
    list-style: none;
}
.-info-contacto{
    font-size: 24px;
}
@media(max-width: 400px){
    .-titulo{
        font-size: 37px;
    }
}