body{
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*Barra navegacion*/
._nav{
    background-color: rgba(13, 13, 13, 1);
    width: 100%;
    animation-name: navbar;
    animation-duration: 3s;
    
}
._boton_menu{
    width: 50px;
    margin-top: -10px;
    margin-bottom: 50px;
}
/*Index*/
._titulo_index{
    text-align: center;
    font-family: 'Spirax', cursive;
    font-size: 70px;
    color: red;
    animation-name: titulo;
    animation-duration: 6s;
}
.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: auto;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 200%;
    animation: cambio 10s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img {
    width: 24%;

}
/*Login*/
._form_login{
    background-color: rgba(0, 0, 0, 0.42);
}
@keyframes cambio {
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    35%{margin-left: -50%}
    65%{margin-left: -50%}

    75%{margin-left: -100%;}
    100%{margin-left: -100%;}





}
@keyframes navbar {
    0%{opacity: 0;}
    100%{opacity: 1;}
   
}
@keyframes titulo {
    0%{opacity: 0;}
    100%{opacity: 1;}
   
}
